<div class="quiz-container">
    <div class="quiz-header">
        <h1>Kategoria: {{ category() | titlecase }}</h1>
        @if (state().status === 'success') {
            <p class="question-progress">
                Pytanie {{ currentQuestionIndex() + 1 }} z {{ questions().length }}
            </p>
        }
    </div>

    <div class="question-wrapper">
        @switch (state().status) {
            @case ('loading') {
                <div class="loading">
                    <p>Ładowanie pytań...</p>
                </div>
            }
            @case ('error') {
                <div class="error">
                    <p>{{ state().error }}</p>
                    <button matButton="elevated" (click)="loadQuestions()">
                        Ponów
                    </button>
                </div>
            }
            @case ('success') {
                <app-question
                    [question]="currentQuestion()"
                    [questionIndex]="currentQuestionIndex()">
                </app-question>
            }
        }
    </div>

    @if (state().status === 'success' && questions().length > 0) {
        <div class="navigation-buttons">
            <button
                matButton="elevated"
                [disabled]="isFirstQuestion()"
                (click)="previousQuestion()">
                Poprzednie
            </button>

            @if(isLastQuestion()) {
                <button
                    matButton="filled"
                    [disabled]="!canFinishQuiz()"
                    (click)="finishQuiz()">
                    Zakończ Quiz
                </button>
            } @else {
                <button
                    matButton="elevated"
                    [disabled]="!canGoNext()"
                    (click)="nextQuestion()">
                    Następne
                </button>
            }
        </div>
    }
</div>
