<mat-card class="question-card">
    <mat-card-header>
        <mat-card-title>{{ question().question }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="question-content">
        <mat-radio-group [value]="selectedAnswer()" class="radio-group">
            @for (option of optionsArray(); track option.key) {
                <mat-radio-button
                    [value]="option.key"
                    class="radio-option"
                    (change)="onAnswerChange(option.key)"
                >
                    {{ option.value }}
                </mat-radio-button>
            }
        </mat-radio-group>
    </mat-card-content>
</mat-card>
