@use '@angular/material' as mat;

html,
body {
    @include mat.theme((color: mat.$spring-green-palette,
            typography: Roboto));
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1;
}
